<nav class="navbar-mobile">
    <div class="container-fluid">
        <ul class="navbar-mobile__list list-unstyled">
            {% include 'partials/_menu_items.html.twig' %}
        </ul>
    </div>
</nav>
