<!-- Modal Filtres Box -->
<div class="modal fade" id="boxFiltersModal" tabindex="-1" role="dialog" aria-labelledby="boxFiltersModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="boxFiltersModalLabel">
                    <i class="fa fa-filter"></i> Filtres des Box
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="box-filter-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="filter-municipality">Commune</label>
                                <select class="form-control" id="filter-municipality" name="municipality">
                                    <option value="">Toutes les communes</option>
                                    {% set municipalities = [] %}
                                    {% for box in boxes %}
                                        {% if box.commune is not null and not (box.commune in municipalities) %}
                                            {% set municipalities = municipalities|merge([box.commune]) %}
                                        {% endif %}
                                    {% endfor %}
                                    {% for municipality in municipalities|sort %}
                                        <option value="{{ municipality }}">{{ municipality }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="filter-service">Service</label>
                                <input type="text" class="form-control" id="filter-service" name="service" placeholder="Entrez le service">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col-md-6">
                            <div class="form-group">
                                <label for="filter-type">Type</label>
                                <select class="form-control" id="filter-type" name="type">
                                    <option value="">Tous les types</option>
                                    {% set types = [] %}
                                    {% for box in boxes %}
                                        {% if box.type is not null and not (box.type in types) %}
                                            {% set types = types|merge([box.type]) %}
                                        {% endif %}
                                    {% endfor %}
                                    {% for type in types|sort %}
                                        <option value="{{ type }}">{{ type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="filter-adresse">Adresse</label>
                                <input type="text" class="form-control" id="filter-adresse" name="adresse" placeholder="Entrez l'adresse">
                            </div>
                        </div>
                    </div>
                     <div class="row">
                         <div class="col-md-6">
                            <div class="form-group">
                                <label for="filter-ligne_support">Ligne Support</label>
                                <input type="text" class="form-control" id="filter-ligne_support" name="ligne_support" placeholder="Entrez la ligne support">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="filter-statut">Statut</label>
                                <select class="form-control" id="filter-statut" name="statut">
                                    <option value="">Tous les statuts</option>
                                    <option value="actif">Actif</option>
                                    <option value="inactif">Inactif</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" id="apply-box-filters">
                    <i class="fa fa-filter"></i> Appliquer les Filtres
                </button>
                 <button type="button" class="btn btn-warning" id="reset-box-filters">
                    <i class="fa fa-refresh"></i> Réinitialiser
                </button>
            </div>
        </div>
    </div>
</div>
