<div class="col-lg-3">
    <h2 class="title-1 m-b-25">Top countries</h2>
    <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
        <div class="au-card-inner">
            <div class="table-responsive">
                <table class="table table-top-countries">
                    <tbody>
                    {% for country in top_countries %}
                        <tr>
                            <td>{{ country.name }}</td>
                            <td class="text-right">{{ country.lendings }}</td>
                        </tr>
                    {% else %}
                        <tr><td colspan="2">No data available.</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
