{% extends './base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="page-wrapper">
    <!-- PAGE -->
    <div class="page-container">

        <!-- MAIN -->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <!-- Overview -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="overview-wrap">
                                <h2 class="title-1">Vue d'ensemble</h2>
                            </div>
                        </div>
                    </div>

                    {# INCLUDE MODALS #}
                    {% include './modals/_overview_modal.html.twig' %}

                    <div class="row">
                        <div class="col-lg-3">
                            <h2 class="title-1 m-b-25">Lignes Téléphoniques</h2>
                            <div class="table-responsive table--no-card m-b-40">
                                <div id="map-agglomeration"
                                     style="height: 400px; width: 100%; border: 1px solid #ccc;"></div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            {% include './modals/_lines_filters_modal.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

